include partials/header.pug
header
  .smoothie
    img(src='/smoothie.png' alt)
  .headings
    h2 Smoothie Recipes
    h3 By Ninjas For Ninjas
    a.btn(href='/smoothies') View Recipes

include partials/footer.pug
