include partials/header.pug
ul.recipes
  li.recipe
    img(src='/smoothie.png' alt='smoothie recipe icon')
    h4 Banana Boost
    p Banana, Vanilla ice cream, Milk
  li.recipe
    img(src='/smoothie.png' alt='smoothie recipe icon')
    h4 Tropical Twist
    p Peach, Pinapple, Apple juice
  li.recipe
    img(src='/smoothie.png' alt='smoothie recipe icon')
    h4 Protein Packer
    p Oats, Peanut butter, Milk, Banana, Blueberries
  li.recipe
    img(src='/smoothie.png' alt='smoothie recipe icon')
    h4 Banana Boost
    p Banana, Vanilla ice cream, Milk
  li.recipe
    img(src='/smoothie.png' alt='smoothie recipe icon')
    h4 Tropical Twist
    p Peach, Pinapple, Apple juice
  li.recipe
    img(src='/smoothie.png' alt='smoothie recipe icon')
    h4 Protein Packer
    p Oats, Peanut butter, Milk, Banana, Blueberries
include partials/footer.pug